# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
ENV/
.venv/

# Ignore environment/config files
*.env
config.py
aws_credentials.json
*.ini

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
